section.message_box {
  padding: 10px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 1.1em;
}

#message_content {
  font-size: 1.0em;
}